@import "tailwindcss";

@theme {
    /* Primary color */
    --color-primary-50: var(--color-zinc-50);
    --color-primary-100: var(--color-zinc-100);
    --color-primary-200: var(--color-zinc-200);
    --color-primary-300: var(--color-zinc-300);
    --color-primary-400: var(--color-zinc-400);
    --color-primary-500: var(--color-zinc-500);
    --color-primary-600: var(--color-zinc-600);
    --color-primary-700: var(--color-zinc-700);
    --color-primary-800: var(--color-zinc-800);
    --color-primary-900: var(--color-zinc-900);
  
    /* Accent color */
    --color-accent-50: var(--color-green-50);
    --color-accent-100: var(--color-green-100);
    --color-accent-200: var(--color-green-200);
    --color-accent-300: var(--color-green-300);
    --color-accent-400: var(--color-green-400);
    --color-accent-500: var(--color-green-500);
    --color-accent-600: var(--color-green-600);
    --color-accent-700: var(--color-green-700);
    --color-accent-800: var(--color-green-800);
    --color-accent-900: var(--color-green-900);
    /* ... */
  }